<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        div {
          width: 100%;
          height: 100%;
        }
        div.left {
          width: 50%;
          height: 100vh;
          float: left;
          background: #8977ad;
        }
        div.right {
          width: 50%;
          height: 100vh;
          float: right;
          background: #ece6cc;
        }
      </style>
</head>
<html>
   <body>
     <main>
        <div>
            <div class="left">    
                <div style="margin-left: 30%; margin-top: 30%;">
                    
                </div>
            </div>
            <div class="right">

            </div>
        </div>
     </main>      
   </body>
</html>